funcparserlib == 1.0.0a0
sphinxcontrib-actdiag
sphinxcontrib-seqdiag
sphindexer
pillow>=9.2.0 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
